{% extends 'base.html' %}
{% block content %}
<h1>The Class Roster Information</h1>
{% for classroom in classrooms %}
    <div class="card">
        <div class="card-content">
            <span class = "card-title">{{ classroom.name }}</span>
            <p>Favorite Class: {{ classroom.favclass }}</p>
            <p>Role: {{ classroom.role }}</p>
            {% if classroom.age > 20 %}
            <p>Age: Not Shown</p>
            {% else %}
            <p>Age: {{ classroom.age }}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}